.columns-contact > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid var(--brand-light-blue);
  padding-top: 20px;
}

.columns-contact h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--heading-color);
  margin-top: 0;
}

.columns-contact a {
  color: var(--link-color);
}

.columns-contact a:hover {
  text-decoration: underline;
}

.columns-contact > div > div:last-child p {
  margin: 4px 0;
}

@media (width >= 900px) {
  .columns-contact > div {
    flex-direction: row;
    gap: 30px;
  }

  .columns-contact > div > div:first-child {
    flex: 2;
  }

  .columns-contact > div > div:last-child {
    flex: 1;
  }
}
