footer {
  font-size: var(--body-font-size-m);
}

footer .footer > div {
  margin: 0;
  max-width: unset;
  padding: 0;
}

footer .footer p {
  margin: 0;
  line-height: 1.6;
}

footer .footer a:any-link {
  color: inherit;
  text-decoration: none;
}

footer .footer a:hover {
  text-decoration: underline;
}

/* top section - navy background with address */
footer .footer > div > .section:first-child {
  background-color: var(--brand-primary);
  color: #fff;
  padding: 20px 0;
}

footer .footer > div > .section:first-child > div {
  max-width: var(--container-max-width);
  margin: auto;
  padding: 0 15px;
}

/* bottom section - light blue with copyright */
footer .footer > div > .section:last-child {
  background-color: var(--brand-footer-light);
  color: var(--heading-color);
  padding: 10px 0;
  font-size: var(--body-font-size-m);
}

footer .footer > div > .section:last-child > div {
  max-width: var(--container-max-width);
  margin: auto;
  padding: 0 15px;
}
